*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #dcacac;
}

.recept-kort{
    max-width: 1280px;
    margin: 0 auto 40px;
    background: white;
    overflow: hidden;
    border: 1px solid white;
}

.food {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content{
    padding: 30px 40px 50px;
}

h1{
    color: #a10000;
    font-size: 1.75rem;
    margin: 0 0 30px;
}

.lead{
    background: #EBEBEB;
    color: black;
    padding: 15px 20px;
    font-size: 1rem;
    margin: 0 0 30px;

}

h2{
    font-size: 1.5rem;
    margin: 0 0 10px;
    color:black;
}

.portioner{
    font-size: 1rem;
    color: black;
    margin: 0 0 10px;
}

.ingredienser, .instruktioner{
    margin-bottom: 30px;
}

.ingredienser ul,.instruktioner ol{
    margin: 0;
    padding-left: 20px;
    line-height: 1.7;
    color: black;
    font-size: 1rem;
}

.ingredienser ul li::marker {
    font-size: 0.8em;
}

.servering{
    margin-bottom: 0;
}

.image-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.image-grid img{
    display: block;
    width: 100%;
    aspect-ratio: 580 / 467;
    object-fit: cover;
    object-position: center; 
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}